$ cat .gitignore

#Ignorar Carpetas Locales
GID_AlmacenamientoPersistente/nbproject/*
GID_AlmacenamientoPersistente/build/*
GID_AlmacenamientoPersistente/dist/*
GID_AlmacenamientoPersistente/build.xml
GID_AlmacenamientoPersistente/manifest.mf